.header {
  background-image:url("IMG_2643.jpeg");
  background-size: cover;
  padding:50px;
}

.header h1 {
font-size:100px;
text-align:center;
color:white;
background-color:black;
}
.copy-container h3 {
  margin-bottom:100px;
  padding-top:80px;
  margin-top:0px;
}
.copy-container {
  margin-top:0px;
  border-top: 2px solid #a9a9a9;
}


.contents {
  background-color:black;
}

.contents h2 {
  margin-bottom:0px;
}

.contents p {
  margin-bottom:200px;
  color:white;
  margin-left:250px;
}

.contents h3 {
  color:white;
  font-size:35px;
  text-align:center;
  margin-bottom:0px;
}

.contact-form {
  border-top:2px solid #a9a9a9;
  margin:0px;
}

.footer {
  background-image:url("../img/IMG_2478.jpeg");
  height:90px;
}

.photo {
 display:inline-block;
 margin-left:2px;
 text-align:center;
}

.insta {
border-radius:15px;
padding:5px;
color:#ffffff;
opacity:0.7;
}

.insta:hover {
  opacity:1;
}

.gram {
  background-color:red;
}
